* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
      background: #3d00af;
  }
.card {
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 600px;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

